@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
  scroll-snap-type: y mandatory;
}

body {
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

.App {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background-color: black;
  color: white;
}

.linkNav:hover {
  border-bottom: 1px solid rgb(168, 168, 168);
}


/*big quotes in blockquote*/
blockquote {
  position: relative;
  margin: 0.5em;
  padding: 0.5em 2em 0.5em 3em;
}
/* Thanks: http://callmenick.com/post/styling-blockquotes-with-css-pseudo-classes */
blockquote:before {
  font-family: Georgia, serif;
  position: absolute;
  font-size: 6em;
  line-height: 1;
  top: -0.2em;
  left: 0;
  content: "\201C";
}
blockquote:after {
  font-family: Georgia, serif;
  position: absolute;
 /* display: block; don't use this, it raised the quote too high from the bottom - defeated line-height? */
  float:right;
  font-size:6em;
  line-height: 1;
  right: 0;
  bottom:-0.7em;
  content: "\201D";
}
blockquote footer {
  padding: 0 2em 0 0;
  text-align:right;
}
blockquote cite:before {
  content: "\2013";
}



/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: transparent #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 3px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
    border: 04px solid transparent;
  }

  .sectionTitle {
    background: -webkit-linear-gradient(left, #0f23ff, #ee01ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
  }